@import "tailwindcss";
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  /* color: #1C1C19; */
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
  background: #f8f8f8;
}

.who button {
  padding : 1rem 2rem ;
  border-radius: 50px;
  border: 1px solid #71717A;
}