@font-face {
  font-family: fontAlpha;
  src: url(../public/fonts/font1.woff2);
}
@font-face {
  font-family: fontBeta;
  src: url(../public/fonts/font2.woff2);
}
@font-face {
  font-family: fontGama;
  src: url(../public/fonts/font3.woff2);
}
@import "tailwindcss";
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  /* color: #1C1C19; */
}
html, body {
  height: 100vh;
  width: 100vw;
}
body {
  overflow-x: hidden;
  background: #f8f8f8;
}

.who button {
  padding : 1rem 2rem ;
  border-radius: 50px;
  border: 1px solid #71717A;
}
h1, h2, h3, h4, h5, h6 {
  font-family: fontBeta;
}
a, p {
  font-family: fontAlpha;
}
a {
  cursor: pointer;
}
/* 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
} */

.button {
    position: relative;
    overflow: hidden;
    width: 6.5rem;
    height: 35px;
    background: #3298FE;
    border: none;
    border-radius: 50px;
    /* font-size: 18px; */
    /* font-weight: bold; */
    cursor: pointer;
    color: #fff;
    /* text-transform: uppercase; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.button span {
    display: block;
    white-space: nowrap;
    position: absolute;
    animation: scrollText 8s linear infinite;
}

@keyframes scrollText {
    from {
        transform: translateX(40%);
    }
    to {
        transform: translateX(-40%);
    }
}